.product {
    position: relative;
    padding: 5em;
    margin: 3em;
    height: 90%;
    width: 90%;
    overflow: hidden;
    background-color: var(--light);
    box-shadow: var(--shadow);
}
.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.model {
    display: flex;
    width: 100%;
}
.image-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 25em;
    flex-direction: column;
    border-bottom: 5px solid var(--lima);
}
.price-container {
    align-self: center;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price{
    font-weight: 600;
    font-size: 28px;
   padding:5px auto;
}
.image-container img {
    align-self: center;
    border: 2em solid var(--lima);
    max-width: 350px;
    max-height: 350px;
}
.model span {
    width: inherit;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
}
.manufacturer span{
    font-weight: 600;
    opacity: 0.8;
}
.instock
{
text-transform: capitalize;
font-weight: 600;
}
.circle-red {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    border: 3px red solid;
}
.circle-green {
    display: inline-block;

    height: 10px;
    width: 10px;
    background-color: greenyellow;
    border-radius: 50%;
    border: 3px greenyellow solid;
}
.description span{
    height: fit-content;
}
.admin-area {
    position: absolute;
    top: 50px;
    right: 50px;
}